package {{package}};

import {{modelPackage}}.*;
import java.util.List;
import {{package}}.NotFoundException;
import javax.ws.rs.core.Response;
{{#imports}}import {{import}};
{{/imports}}

{{#operations}}
public abstract class {{classname}}Service {
  {{#operation}}
      public abstract Response {{nickname}}({{#allParams}}{{>serviceQueryParams}}{{>servicePathParams}}{{>serviceHeaderParams}}{{>serviceBodyParams}}{{>serviceFormParams}}{{#hasMore}},{{/hasMore}}{{/allParams}}) throws NotFoundException;
  {{/operation}}
}
{{/operations}}
