package {{package}}.factories;

import {{package}}.{{classname}}Service;
import {{package}}.impl.{{classname}}ServiceImpl;

public class {{classname}}ServiceFactory {

    public static {{classname}}Service get{{classname}}(){
        return new {{classname}}ServiceImpl();
    }
}
